@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-50: rgba(229,87,46,0.08);
  --brand-600: #E5572E;
  --brand-700: #C94B27;
}
html,body{
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}
